
.root{
    -fx-background-color: #262626;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}


.table-view .column-header-background{
    -fx-background-color: linear-gradient(#273c75 0%, #487eb0 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: Black;
}
